﻿<div class="card">
        <div class="header">
            <h2>
                Categorias
            </h2>
            <ul class="header-dropdown m-r--5">
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">more_vert</i>
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li><a href="javascript:void(0);">Action</a></li>
                        <li><a href="javascript:void(0);">Another action</a></li>
                        <li><a href="javascript:void(0);">Something else here</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="body">
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Tags</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr  ng-repeat="categoria in categorias">
                            <td > {{categoria.nome}} </td>
                            <td > {{categoria.tags}} </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
