﻿<div class="card">
    <div class="header">
        <h2>
            SEJA BEM VINDO
            <small>You can choose a way from multiple options.</small>
        </h2>
    </div>
    <div class="body">
        <div class="row clearfix">

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 grafico" ng-repeat="questao in questoes">
                <div class="card">
                    <div class="header bg-green">
                        <h2>
                            {{questao.nome}}
                            <small> {{questao.categoria}}</small>
                        </h2>
                        <ul class="header-dropdown m-r-0">
                            <li>
                                <a href="javascript:void(0);">
                                    <i class="material-icons" ng-click="addSiperGeralChart(questoes,questao.key);">info</i>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <i class="material-icons">edit</i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="body" id="{{questao.key}}">
                            {{questao.descricao}}
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>