﻿<div class="card">
        <div class="header">
            <h2>
                CRIAÇÃO DE CATEGORIAS
            </h2>
            <ul class="header-dropdown m-r--5">
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">more_vert</i>
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li><a href="javascript:void(0);">Action</a></li>
                        <li><a href="javascript:void(0);">Another action</a></li>
                        <li><a href="javascript:void(0);">Something else here</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="body">
            <form>
                <label for="email_address">Nome da Categoria</label>
                <div class="form-group">
                    <div class="form-line">
                        <input type="text" id="categoryTitle" class="form-control" placeholder="Digite o nome aqui">
                    </div>
                </div>
                <label for="password">Tags</label>
                <div class="form-group">
                    <div class="form-line">
                        <input type="text" id="categoryTags" class="form-control" placeholder="Digite as tags">
                    </div>
                </div>
                <label for="password">Cor</label>
                <div class="form-group">
                    <div class="form-line">
                        <input type="text" id="categoryColor" class="form-control" placeholder="Escolha uma cor">
                    </div>
                </div>
                <button type="button" class="btn btn-primary m-t-15 waves-effect" ng-click="addNewCategory();">Criar Categoria!</button>
            </form>
        </div>
    </div>
