﻿<div class="card" >
        <div class="header">
            <h2>
                CRIAÇÃO DE FORMULÁRIO
            </h2>
            <ul class="header-dropdown m-r--5">
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">more_vert</i>
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li><a href="javascript:void(0);">Action</a></li>
                        <li><a href="javascript:void(0);">Another action</a></li>
                        <li><a href="javascript:void(0);">Something else here</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="body">
            <form>
                <label for="email_address">Título do formulário</label>
                <div class="form-group">
                    <div class="form-line">
                        <input type="text" id="formTitle" class="form-control" placeholder="Digite o título aqui">
                    </div>
                </div>
                <label>Descrição</label>
                <div class="form-group">
                        <div class="form-line">
                            <input type="text" id="formDescription" class="form-control" placeholder="Digite a descrição do formulário">
                        </div>
                    </div>
                <label for="password">Categoria</label>
                <div class="form-group">
                    <div class="form-line">
                        <input type="text" id="formCategory" class="form-control" placeholder="Digite a categoria">
                    </div>
                </div>
                <label>Perguntas</label>
                <div class="form-group">
                    <div class="form-line" id="formQuestions">
                        <input type="text"  class="form-control" placeholder="Digite uma pergunta">
                    </div>
                </div>
    
                <button type="button" class="btn btn-primary m-t-15 waves-effect" ng-click="addQuestion();" >Adicionar perguntas</button>
                <button type="button" class="btn btn-primary m-t-15 waves-effect" ng-click="addNewForm();">Criar form!</button>
            </form>
        </div>
</div>


